site_name: BAZI Dokumentation          # Der Name der Website
site_url: https://bitbucket.org/bazi/bazi/src/master/ # Die URL der Projekt-Homepage (GitHub/Bitbucket)
site_description: Dokumentation für das BAZI-Projekt  # Eine kurze Beschreibung der Seite

theme:
  name: readthedocs                  # Das Design (Theme), in diesem Fall das Read the Docs-Design

nav:
  - Start:
      - Home: index.md                   # Ist nicht in start_dateien, da sonst die mainpage nicht angezeigt wird
      - Einrichtung in Visual Studio Code: start_dateien/einrichtung_vscode.md
  - Eclipse Dateien:
      - Ursprung als Eclipse Projekt: eclipse_dateien/ursprung_eclipse.md
      - .project: eclipse_dateien/eclipse.project.md 
      - .classpath: eclipse_dateien/eclipse.classpath.md
      - .settings Ordner: 
          - .settings: eclipse_dateien/settings_dateien/eclipse.settings.md
          - org.eclipse.core.resources.prefs: eclipse_dateien/settings_dateien/org.eclipse.core.resources.prefs.md
          - org.eclipse.core.runtime.prefs: eclipse_dateien/settings_dateien/org.eclipse.core.runtime.prefs.md
          - org.eclipse.jdt.apt.core.prefs: eclipse_dateien/settings_dateien/org.eclipse.jdt.apt.core.prefs.md
          - org.eclipse.jdt.core.prefs: eclipse_dateien/settings_dateien/org.eclipse.jdt.core.prefs.md
          - org.eclipse.jdt.ui.prefs: eclipse_dateien/settings_dateien/org.eclipse.jdt.ui.prefs.md
          - org.eclipse.m2e.core.prefs: eclipse_dateien/settings_dateien/org.eclipse.m2e.core.prefs.md
  - Maven:
      - Was ist Maven?: maven_dateien/maven.md
      - pom.xml: maven_dateien/pom_xml.md
      - jar.xml: maven_dateien/jar_xml.md          



markdown_extensions:
  - admonition                       # Erweiterungen wie Hinweisboxen, z.B. für wichtige Informationen
  - codehilite                        # Codehervorhebung
  - toc                               # Eine automatisch generierte Tabelle des Inhalts

plugins:
  - search                            # Das Search-Plugin für die integrierte Suchfunktion

extra:
  social:
    - type: github
      link: https://bitbucket.org/bazi/bazi/src/master/  # Link zum GitHub- oder Bitbucket-Projekt



